* {
  margin: 0;
  padding: 0;
}
body {
}

#sidebar {
  background-color: #dbdbdb;
  height: 1000px;

}
#main {
  background-color: #fff;
  height: 1000px;
  margin-top: 50px;
  border: solid thin #8cb3f2;


}
#welcome {
  padding: 0px 25px;
}
#green {
  padding: 5px 5px 5px 25px;

}
#blue {
  height: 600px;
  padding: 5px 25px 5px 5px;

}
#purple {
  height: 400px;
  padding: 5px 25px;

}
#bottom {
  background-color: #eee;
  height: 600px;
  padding: 5px 25px;

}
.col-md-10, .col-md-5, .col-md-2, .col-md-1 {
  padding: 0;
  margin: 0;
}
#sidebar img {
  padding-left: 20px;
}

#sidebar ul {
  text-decoration: none;
  list-style: none;

}
 li {
   padding-left: 12px;
 }

 a {
   color: #0441a3;
   text-decoration: none;
 }

 hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
.welcomelinks {
  padding-left: 50px;
  padding-top: 25px;
}

.panel {
  border-radius: 0px;


}
.greenpanelhead {
  margin: 8px;
  border: solid thin #41af72;
  background-color: #98e2c7;
}
.greenpanelbody {
  background-color: #ddffec;
  border: solid thin #70bfa2;
  list-style-position: inside;
}
#green img {
  padding: 0px 10px 10px 0px;
}


.bluepanelhead {
  margin: 8px;
  border: solid thin #2f7bd8;
  background-color: #8fb7e8;
}
.bluepanelbody {
  background-color: #d2e0f2;
  border: solid thin #2f7bd8;
  list-style-position: inside;
}
#blue img {
  padding: 0px 10px 10px 0px;
}
